<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Skynet.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="cs" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=ims.mdb; Jet OLEDB:Database Password=jlruatpuia;"/>
    <add name="us"  connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=users.mdb; Jet OLEDB:Database Password=jlruatpuia;"/>
  </connectionStrings>
  <userSettings>
    <Skynet.Properties.Settings>
      <setting name="WindowTheme" serializeAs="String">
        <value />
      </setting>
      <setting name="WindowGeometry" serializeAs="String">
        <value />
      </setting>
      <setting name="ShopName" serializeAs="String">
        <value>Skynet Computers</value>
      </setting>
      <setting name="Address" serializeAs="String">
        <value>P &amp; Sons Building, Chanmari, Aizawl</value>
      </setting>
      <setting name="Phone" serializeAs="String">
        <value>9862310857</value>
      </setting>
      <setting name="Email" serializeAs="String">
        <value>tesanga@yahoo.com</value>
      </setting>
      <setting name="Website" serializeAs="String">
        <value>https://www.facebook.com/skynet.aizawl</value>
      </setting>
      <setting name="ShortName" serializeAs="String">
        <value>SKYNET</value>
      </setting>
      <setting name="MyAddress" serializeAs="String">
        <value />
      </setting>
    </Skynet.Properties.Settings>
  </userSettings>
</configuration>